<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AlexFit: беговые дорожки, силовые тренажеры, велотренажеры, эллиптические тренажеры, профессиональные тренажеры, купить спортивный тренажер, интернет-магазин, товары для фитнеса{% endblock %}</title>
        <meta name="keywords" content="{% block keywords %}AlexFit тренажеры силовые тренажёры профессиональные беговые дорожки велотренажеры эллиптические тренажеры гребные степперы Alex WNQ Steel Flex BodySolid{% endblock %}"/>
        <meta name="description" content="{% block description %}Спортивный интернет-магазин AlexFit - беговые дорожки, велотренажеры, полный ассортимент тренажёров Alex, WNQ, Steel Flex, BodySolid, домашние и профессиональные спортивные тренажеры{% endblock %}"/>
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/index.css') }}" type="text/css"/>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/js/interface.js') }}"></script>
{% endblock %}
    </head>
    <body>
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr align="center">
                <td>
                    <table cellpadding="0" cellspacing="0" style="width: 980px">
                        <tr>
                            <td style="height: 70px" colspan="2">
                                <table cellpadding="0" cellspacing="0" style="width: 100%">
                                    <tr>
                                        <td align="left" valign="bottom" style="width: 250px">
                                            <a href="{{ path('index') }}"><img src="/image/logo.gif" alt="Alex"></a>
                                        </td>
                                        <td align="left" valign="bottom">
                                            <a href="{{ path('index') }}"><img src="/image/www.gif" alt="Alex"></a>
                                        </td>
                                        <td align="center" valign="middle" style="width: 100px">
                                            <a href="{{ path('index') }}"><img src="/image/basket.gif" alt="Корзина"></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" style="width: 200px">
                                <table cellpadding="0" cellspacing="0" style="width: 100%">
                                    <tr>
                                        <td align="left" valign="middle" class="menu_title menu_title_red">
                                            ПОИСК
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" class="menu_item menu_item_search" style="padding: 0px">
                                            <form method="get" action="{{ path('search') }}">
                                                <input type="text" class="text" name="text" value="" style="width: 130px"/>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_empty"/>
                                    </tr>
{% include 'AppBundle::menu.html.twig'%}
{{ render(controller('AppBundle:Product:menu')) }}
                                    <tr>
                                        <td align="left" valign="middle" class="menu_title menu_title_blue">
                                            ЦЕНЫ
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_item menu_item_blue" onmouseover="this.className = 'menu_item menu_item_blue menu_item_selected'" onmouseout="this.className = 'menu_item menu_item_blue'">
                                            <a href="{{ path('subscribe') }}">Рассылка по e-mail</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_item menu_item_blue" onmouseover="this.className = 'menu_item menu_item_blue menu_item_selected'" onmouseout="this.className = 'menu_item menu_item_blue'">
                                            <a href="{{ path('price') }}">Прайс-лист</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_separator menu_separator_blue"/>
                                    </tr>
                                </table>
                            </td>
                            <td align="left" valign="top" style="width: 780px; padding-left: 10px">
{% block body %}{% endblock %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td class="bottom_line"/>
            </tr>
            <tr>
                <td class="bottom" align="center">
                    <table cellpadding="0" cellspacing="0" style="width: 980px; height: 100%">
                        <tr>
                            <td style="width: 50%" align="left" valign="middle">
                                <div>
                                    <noindex>
                                        <b><a href="/" class="footer">© ALEXANDAVE INDUSTRIES CO., LTD. (ALEX)</a></b><br/>
                                        <b><a href="http://www.role.ru/" class="footer">© Design: Role</a></b>
                                    </noindex>
                                </div>
                            </td>
                            <td style="width: 50%" align="right" valign="middle">
                                <div>
                                    <img src="http://images.rambler.ru/topshop/ban/count-topshop-011.gif" width=88 height=31 alt="Rambler's TopShop" border=0/>
                                    <!--LiveInternet counter--><script type="text/javascript"><!--
                                    document.write("<a href='http://www.liveinternet.ru/click' "+
                                    "target=_blank><img src='//counter.yadro.ru/hit?t45.2;r"+
                                    escape(document.referrer)+((typeof(screen)=="undefined")?"":
                                    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                                    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                                    ";"+Math.random()+
                                    "' alt='' title='LiveInternet' "+
                                    "border='0' width='31' height='31'><\/a>")
                                    //--></script><!--/LiveInternet-->
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>

