                                    <tr>
                                        <td align="left" valign="middle" class="menu_title menu_title_blue">
                                            PGS OLIMP
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_item menu_item_blue" onmouseover="this.className = 'menu_item menu_item_blue menu_item_selected'" onmouseout="this.className = 'menu_item menu_item_blue'">
                                            <a href="{{ path('about') }}">О компании</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_item menu_item_blue" onmouseover="this.className = 'menu_item menu_item_blue menu_item_selected'" onmouseout="this.className = 'menu_item menu_item_blue'">
                                            <a href="{{ path('fitnesscenter') }}"><b>Оснащение тренажерных залов</b></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_item menu_item_blue" onmouseover="this.className = 'menu_item menu_item_blue menu_item_selected'" onmouseout="this.className = 'menu_item menu_item_blue'">
                                            <a href="{{ path('complex') }}"><b>Фото выполненных объектов</b></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_item menu_item_blue" onmouseover="this.className = 'menu_item menu_item_blue menu_item_selected'" onmouseout="this.className = 'menu_item menu_item_blue'">
                                            <a href="{{ path('service') }}">Оптовикам</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_item menu_item_blue" onmouseover="this.className = 'menu_item menu_item_blue menu_item_selected'" onmouseout="this.className = 'menu_item menu_item_blue'">
                                            <a href="{{ path('tobuy') }}">Где купить тренажер?</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_item menu_item_blue" onmouseover="this.className = 'menu_item menu_item_blue menu_item_selected'" onmouseout="this.className = 'menu_item menu_item_blue'">
                                            <a href="{{ path('article') }}">Статьи</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_item menu_item_blue" onmouseover="this.className = 'menu_item menu_item_blue menu_item_selected'" onmouseout="this.className = 'menu_item menu_item_blue'">
                                            <a href="{{ path('delivery') }}">Оплата и доставка</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_item menu_item_blue" onmouseover="this.className = 'menu_item menu_item_blue menu_item_selected'" onmouseout="this.className = 'menu_item menu_item_blue'">
                                            <a href="{{ path('contact') }}">Контакты</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_separator menu_separator_blue"/>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" class="menu_empty"/>
                                    </tr>
