{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <table cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td align="left" valign="middle" class="menu_title menu_title">
                Подписка на прайс-лист
            </td>
        </tr>
    </table>

    <div class="page">
        <p class="p">Если Вы хотите всегда быть в курсе наших цен и ассортимента, оформите подписку на прайс-лист. Рассылка осуществляется не чаще 1 раза в месяц.</p>		
        
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <table cellpadding="3" cellspacing="0" style="width: 100%; margin-top: 20px; margin-left: 40px; border-collapse: collapse">
            <tr valign="top" style="height: 30px">
                <td style="width: 300px">
                    <p><b>E-mail:</b> <span class="require">*</span><br/>(на этот адрес будет приходить прайс-лист)</p>
                </td>
                <td align="left">
                    {{ form_widget(form.subscribe_email) }}
                    {{ form_errors(form.subscribe_email) }}
                </td>
            </tr>
            <tr valign="top" style="height: 30px">
                <td>
                    <p><b>Ваше имя, фамилия, отчество:</b> <span class="require">*</span></p>
                </td>
                <td align="left">
                    {{ form_widget(form.subscribe_person) }}
                    {{ form_errors(form.subscribe_person) }}
                </td>
            </tr>
            <tr valign="top" style="height: 30px">
                <td>
                    <p><b>Название компании:</b><br/>(для юрлиц)</p>
                </td>
                <td align="left">
                    {{ form_widget(form.subscribe_company) }}
                    {{ form_errors(form.subscribe_company) }}
                </td>
            </tr>
            <tr valign="top" style="height: 30px">
                <td>
                    <p><b>Тип компании:</b><br/>(для юрлиц обязательно)</p>
                </td>
                <td align="left" class="select">
                    {{ form_widget(form.subscribe_type) }}
                    {{ form_errors(form.subscribe_type) }}
                </td>
            </tr>

            <tr valign="top" style="height: 30px">
                <td>
                    <p><b>Телефон:</b><br/>(для юрлиц обязательно)</p>
                </td>
                <td align="left">
                    {{ form_widget(form.subscribe_phone) }}
                    {{ form_errors(form.subscribe_phone) }}
                </td>
            </tr>
            <tr valign="top" style="height: 30px">
                <td>
                    <p><b>Факс:</b><br/>(для юрлиц обязательно)</p>
                </td>
                <td align="left">
                    {{ form_widget(form.subscribe_fax) }}
                    {{ form_errors(form.subscribe_fax) }}
                </td>
            </tr>
            <tr valign="top" style="height: 30px">
                <td>
                    <p><b>URL сайта:</b></p>
                </td>
                <td align="left">
                    {{ form_widget(form.subscribe_url) }}
                    {{ form_errors(form.subscribe_url) }}
                </td>
            </tr>
            <tr valign="top" style="height: 30px">
                <td>
                    <p><b>Введите код с картинки:</b></p>
                </td>
                <td align="left">
                    {{ form_widget(form.subscribe_captcha) }}
                    {{ form_errors(form.subscribe_captcha) }}
                </td>
            </tr>
            <tr valign="top" style="height: 30px">
                <td align="left">
                    {{ form_widget(form.send) }}
                </td>
                <td/>
            </tr>
        </table>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
